@import "tailwindcss";

@theme {
    --font-text: "Caveat";
    --font-title: "Angkor";
    --font-button: "Montserrat";
}

body {
    background: url("/img/back.png") no-repeat;
    background-size: cover;
}

